.jumbotron {
    background-color: white;
}

/* BEGIN: Sticky footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}
/* END: Sticky footer */

.list-group {
    width: 250px;
}

.page_container {
    margin: 15px;
}

.panel-heading, thead {
    font-weight: bold;
}
